<!-- Define your frontend here. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ETF v2 CorDapp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/createIOUModal.js"></script>
    <script src="js/createETFModal.js"></script>
    <script src="js/issueCashModal.js"></script>
    <script src="js/selfIssueEtfModal.js"></script>
    <script src="js/transferModal.js"></script>
    <script src="js/settleModal.js"></script>

</head>

<body ng-app="demoAppModule" ng-controller="DemoAppCtrl as demoApp" class="bg-danger">
<nav class="navbar navbar-default">
    <div class="bg-danger">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{demoApp.thisNode}}</a>
        </div>
        <div class="btn-group">


        <button ng-click="demoApp.openBuySellETFModal()" type="button" class="btn btn-danger navbar-btn">Buy-Sell ETF</button>
        <button ng-click="demoApp.openIssueCashModal()" type="button" class="btn btn-warning navbar-btn">Issue cash</button>
        <button ng-click="demoApp.openSelfIssueEtfModal()" type="button" class="btn .btn-success	 navbar-btn">Self Issue Etf</button>
        <button ng-click="demoApp.refresh()" type="button" class="btn btn-default navbar-btn"><span
                class="glyphicon glyphicon-refresh"></span></button>
        </div></div>
</nav>

<script type="text/ng-template" id="createETFModal.html" >
    <div class=".bg-warning">
        <h4 class="modal-title">Add new ETF Request</h4>
    </div>

    <form class="bg-success">    <div class="modal-body" >

    <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" value="buy" name="btnn" class="bg-default"/>Buy</label>
                    <label class="radio-inline">
                <input type="radio" name="btnn"value="sell"/>Sell
                    </label>

                <!--a class="undo" ng-click="createETFModal.form.buysell = null">&otimes;</a-->
            </div>
            <div class="form-group">
                <label for="createETFCounterparty" class="control-label">Counter-party:</label>
                <select ng-model="createETFModal.form.counterparty" class="form-control" id="createETFCounterparty"
                        ng-options="peer as peer for peer in createETFModal.peers">
                </select>
            </div>
            <div class="form-group">
                <label for="createETFName" class="control-label">ETF Name :</label>
                <input type="text" ng-model="createETFModal.form.etfName" class="form-control" id="createETFName">
            </div>
            <div class="form-group">
                <label for="createETFCurrency" class="control-label">Currency (ISO code):</label>
                <input type="text" ng-model="createETFModal.form.currency" class="form-control" id="createETFCurrency">
            </div>
            <div class="form-group">
                <label for="createETFQuantity" class="control-label">Quantity<span class="label label-info"> (Int):</span></label>
                <input type="text" ng-model="createETFModal.form.quantity" ng-pattern="" class="form-control" id="createETFQuantity">
            </div>
        <div class="form-group">

            <label for="createETFAmount" class="control-label">Amount<span class="label label-info"> (Int):</span></label>
          <p>  <div>{{ createETFModal.form.quantity*10 }} </p>
            <!--input  type="text" ng-model="createETFModal.form.amount" class="form-control" id="createETFAmount" value="{{ createETFModal.form.quantity }}" -->
        </div>
            <div ng-show="createETFModal.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-ex
                    clamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid ETF creation parameters
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="createETFModal.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="createETFModal.create()" type="button" class="btn btn-primary">Submit</button>
        </div>
    </form></script>
</script>

<script type="text/ng-template" id="createETFMsgModal.html">
    <div class="modal-body" id="create-etf-modal-body">
        {{ createETFMsgModal.message }}
    </div>
</script>

<script type="text/ng-template" id="issueCashModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Self-issue cash</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="issueCashCurrency" class="control-label">Currency (ISO code):</label>
                <input type="text" ng-model="issueCashModal.form.currency" class="form-control" id="issueCashCurrency">
            </div>
            <div class="form-group">
                <label for="issueCashAmount" class="control-label">Amount (Int):</label>
                <input type="text" ng-model="issueCashModal.form.amount" class="form-control" id="issueCashAmount">
            </div>
            <div ng-show="issueCashModal.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid cash issuance parameters.
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="issueCashModal.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="issueCashModal.issue()" type="button" class="btn btn-primary">Issue cash</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="issueCashMsgModal.html">
    <div class="modal-body" id="issue-cash-modal-body">
        {{ issueCashMsgModal.message }}
    </div>
</script>


<script type="text/ng-template" id="selfIssueEtfModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Self-issue Etf</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="selfIssueEtf" class="control-label">ETF Name:</label>
                <input type="text" ng-model="selfIssueEtfModal.form.etfName" class="form-control" id="selfIssueEtf">
            </div>
            <div class="form-group">
                <label for="selfIssueEtfQty" class="control-label">Quantity (Int):</label>
                <input type="text" ng-model="selfIssueEtfModal.form.quantity" class="form-control" id="selfIssueEtfQty">
            </div>
            <div ng-show="selfIssueEtfModal.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid self Etf issuance parameters.
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="selfIssueEtfModal.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="selfIssueEtfModal.issue()" type="button" class="btn btn-primary">Issue self ETF</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="selfIssueEtfMsgModal.html">
    <div class="modal-body" id="self-issue-etf-modal-body">
        {{ selfIssueEtfMsgModal.message }}
    </div>
</script>


<script type="text/ng-template" id="transferModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Transfer ETF</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="transferCounterparty" class="control-label">Counter-party:</label>
                <select ng-model="transferModal.form.counterparty" class="form-control" id="transferCounterparty"
                        ng-options="peer as peer for peer in transferModal.peers">
                </select>
            </div>
            <div ng-show="transferModal.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid ETF transfer parameters.
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="transferModal.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="transferModal.transfer()" type="button" class="btn btn-primary">Transfer</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="transferMsgModal.html">
    <div class="modal-body" id="transfer-modal-body">
        {{ transferMsgModal.message }}
    </div>
</script>

<script type="text/ng-template" id="settleModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Settle ETF</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="settleCurrency" class="control-label">Currency (ISO code):</label>
                <input type="text" ng-model="settleModal.form.currency" class="form-control" id="settleCurrency">
            </div>
            <div class="form-group">
                <label for="settleAmount" class="control-label">Amount (Int):</label>
                <input type="text" ng-model="settleModal.form.amount" class="form-control" id="settleAmount">
            </div>
            <div ng-show="settleModal.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid ETF settle parameters.
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="settleModal.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="settleModal.settle()" type="button" class="btn btn-primary">Settle</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="settleMsgModal.html">
    <div class="modal-body" id="settle-modal-body">
        {{ settleMsgModal.message }}
    </div>
</script>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Cash balances:</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="cash in demoApp.cashBalances">
                        <td class="vert-align">{{cash}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Etf balances:</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Etf Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="cash in demoApp.etfName">
                        <td class="vert-align">{{etfName}}</td>
                    </tr>
                    </tbody>
                    <tr>
                        <th>Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="cash in demoApp.quantity">
                        <td class="vert-align">{{quantity}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div ng-show="!demoApp.etfRecorded.length" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">There are no recorded ETFs</h3>
            </div>
            <div class="panel-body">Use the "Create ETF" button to send an ETF to a peer.</div>
        </div>
        <div ng-show="demoApp.etfRecorded.length" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Recorded ETFs:</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>From</th>
                        <th>To</th>
                        <th>ETF Name</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                        <th>Paid</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="etf in demoApp.etfRecorded">
                        <td class="vert-align">{{etf.lender.substring(0, 10)}}</td>
                        <td class="vert-align">{{etf.borrower.substring(0, 10)}}</td>
                        <td class="vert-align">{{etf.amount}}</td>
                        <td class="vert-align">{{etf.paid}}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <button ng-click="demoApp.openEtfTransferModal(etf.linearId.id)" type="button" class="btn btn-primary">Transfer
                                </button>
                                <button ng-click="demoApp.openEtfSettleModal(etf.linearId.id)" type="button" class="btn btn-primary">Settle
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
</body>
</html>